@font-face {
  font-family: "SaiyanSans";
  src: url("./Saiyan-Sans.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hello {
  color: red;
  font-family: "SaiyanSans";
  font-size: 4rem;
}
